# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*n

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

password-store.json
g19zpqGVyPP0BUcq
 o link para instalar mongo no backend
 npm i mongodb

 mongodb+srv://geniamaria:g19zpqGVyPP0BUcq@cluster0.noddpwq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0